body {
  background-color: #1c1c1c;
  color: #fff;
  font-family: 'Arial', sans-serif;
}
#title{
  text-align: center;
}


h1 {
  color: #ff4500;
}

/* Bot Army */
.bot-army-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to next row */
  overflow-x: auto; /* Allow horizontal scrolling */
}

.bot-card {
  margin-right: 20px;
  flex: 0 0 auto; /* Allow cards to shrink */
  min-width: 200px; /* Minimum width for each card */
}


.bot-card img {
  max-width: 100%;
  border-radius: 4px;
  margin-bottom: 8px;
}

.bot-card h3 {
  margin: 0;
  font-size: 18px;
}

.bot-card p {
  margin: 8px 0;
  font-size: 14px;
}

.button {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #d13800;
}

.red-button {
  background-color: #ff0000;
}

/* Added styles for enlisted bot army */
.enlisted-bot {
  color: #00f; /* Blue color for enlisted bot army text */
  text-align: center;
  padding: 16px;
  margin: 16px;
  border: 1px solid #00f; /* Blue color for enlisted bot army border */
  border-radius: 8px;
  display: inline-block;
}
h2{
  color:blue;
}
.bot-specs{
  text-align: center;
}

/* Style for bots in the army */
.blue-background {
  background-color: blue;
  color: white;
}
.bot-army-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items from the start */
}

.bot-card {
  margin-right: 20px; /* Add margin between bot cards */
}

.bot-card:last-child {
  margin-right: 0; /* Remove margin from the last bot card */
}

.bot-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.bot-info {
  text-align: center;
}

.details {
  margin-top: 10px;
}

button {
  margin-top: 10px;
}
